# Зависимости Composer
/vendor/
/composer.lock

# Настройки IDE
/.idea/

# Кэши инструментов
/.php-cs-fixer.cache

# Локальные конфиги dev-инструментов
/.polling-to-webhook.conf

# Схемы API (храним только эталонную schema.yaml)
/schemas/*
!/schemas/schema.yaml

# Локальные dev-скрипты и наработки
/dev/
